C114 61B-22.006(7) Prior to turnover of control of the association, Developer was included in the vote to waive audit requirement after the first two years of operation.

Allegation:  Vote to waive audit requirements was not properly obtained by including developer's voting interest.

Statute/Rule Reference:  Section 718.111(13), FS, 61B-22.006(7), FAC

Elements:
* Has turnover taken place?
* What fiscal year was the vote taken for? (third year or later)
* Did the vote take place prior to the end of the fiscal year?
* Was the vote for only one fiscal year?
* Were the votes sufficient for approval excluding the developer's vote?
* Do the minutes state what type of financial report will be prepared and given to the membership?

Evidence Needed:
Meeting minutes for which the vote is reflected.
Ballots, sign-in sheets and proxies for such vote.